[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
opencv-contrib-python = "*"
dlib = "*"
face-recognition = "*"
pysesame2 = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[scripts]
webcam = "python facerec/facerec_from_webcam_faster.py"
raspi = "python facerec/facerec_on_raspberry_pi.py"
save-known = "python -c 'import facerec.known_data; facerec.known_data.save()'"
