[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
# uncomment for webcam
#opencv-contrib-python = "*"
python-dotenv = "*"
pysesame2 = "*"
picamera = {extras = ["array"],version = "*"}
dlib = "*"
face-recognition = "*"

[requires]
python_version = "3.5.3"

[scripts]
webcam = "python facesesame/facerec_from_webcam_faster.py"
raspi = "python facesesame/facerec_on_raspberry_pi.py"
save-known = "python -c 'import facesesame.known_data; facesesame.known_data.save()'"
